body{
    background-image: url("space.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #11001b;
}
h1{
    color: rgb(255, 255, 255);
    font-size: 60px;
    text-align: center;
}
h2{
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
}
.round{
    display: none;
    margin-top: 25px;
    margin-bottom: 25px;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.btns{
 text-align: center;  
 font-size: 50px;
color: rgb(255, 255, 255);
}
.handSymbols {
    width: 110px;
    object-fit: cover;
}
.scoreBoard {
    display: none;
    margin-top: 25px;
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.gameWinner{
    text-align: center;
    font-size: 50px;
    color: rgb(255, 255, 255);
}
.restart{
    display: none;
    text-align: center;
}
.rBtn {
    margin-top: 20px;
    width: 110px;
    height: 50px;
    object-fit: cover;
    color: rgb(255, 255, 255);
    background-image: url("space.jpg");
}


